<h1 class="headline">Choose your driver</h1>

<div id="drivers">
  <% @drivers.each_slice(5) do |drivers| %>
    <div class="row">
      <% drivers.each do |driver| %>
        <a href="/<%= driver.nickname %>" class="driver">
          <img src="<%= driver.icon %>" />
          <span class="driver-name"><%= driver.full_name %></span>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
