<div id="intro">
  <h1 class="logo">Chauffeur</h1>
  <p>Chauffeur lets you pick an Rdio user<br /> and listen to what they're listening to.</p>

  <div class="sign-in-with-rdio">
    <a href="/login">Start by signing into Rdio &raquo;</a>
  </div>
</div>

<div class="powered-by">
  <p>Powered By <a href="http://rdio.com" class="rdio-logo">Rdio</a></p>
</div>
