article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'GeogrotesqueRegular';
  src: url('/fonts/geogrotesque/geogrotesque-regular.eot');
  src: url('/fonts/geogrotesque/geogrotesque-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/geogrotesque/geogrotesque-regular.woff') format('woff'), url('/fonts/geogrotesque/geogrotesque-regular.ttf') format('truetype'), url('/fonts/geogrotesque/geogrotesque-regular.svg#GeogrotesqueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeogrotesqueThin';
  src: url('/fonts/geogrotesque/geogrotesque-thin.eot');
  src: url('/fonts/geogrotesque/geogrotesque-thin.eot?#iefix') format('embedded-opentype'), url('/fonts/geogrotesque/geogrotesque-thin.woff') format('woff'), url('/fonts/geogrotesque/geogrotesque-thin.ttf') format('truetype'), url('/fonts/geogrotesque/geogrotesque-thin.svg#GeogrotesqueThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
#font > .alt > .regular {
  font-family: "GeogrotesqueRegular", "Helvetica Neue", "Helvetica", sans-serif;
}
#font > .alt > .thin {
  font-family: "GeogrotesqueThin", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
}
body {
  background: url('/images/app/absurdidad@2x.png') repeat;
  color: #202024;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  font-family: "GeogrotesqueRegular", "Helvetica Neue", "Helvetica", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GeogrotesqueThin", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  text-transform: uppercase;
}
h1.headline {
  font-size: 80px;
  text-align: center;
  color: #1794f4;
}
a {
  text-decoration: none;
  color: #ff4f4f;
}
.container {
  width: 1000px;
  margin: auto;
}
header {
  background: #444;
  display: none;
}
#intro {
  text-align: center;
  margin: 200px auto 0;
  background: #fff;
  width: 540px;
  padding: 90px 100px 100px;
}
#intro .logo {
  font-size: 100px;
  line-height: 0.7;
  margin-bottom: 0;
}
#intro p {
  font-family: "GeogrotesqueRegular", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 36px 0 46px;
  color: #888;
}
#intro .sign-in-with-rdio a {
  display: inline-block;
  margin: auto;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "GeogrotesqueThin", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  background: #202024;
  color: #d9eced;
}
#intro .sign-in-with-rdio a:hover {
  background: #1794f4;
  color: #FFF;
}
.powered-by {
  text-align: center;
  background: #f1f1f1;
  width: 540px;
  padding: 2px 100px;
  margin: 0 auto;
}
.powered-by p {
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "GeogrotesqueRegular", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
}
.powered-by a {
  color: #1794f4;
}
#drivers {
  padding-left: 80px;
}
#drivers .row {
  *zoom: 1;
}
#drivers .row:before,
#drivers .row:after {
  display: table;
  content: "";
}
#drivers .row:after {
  clear: both;
}
#drivers a.driver {
  display: block;
  margin: 0 40px 40px 0;
  float: left;
  width: 140px;
}
#drivers a.driver img {
  display: block;
  width: 100px;
  height: auto;
  padding: 20px;
  background: #fff;
  margin-bottom: 6px;
}
#drivers a.driver span.driver-name {
  display: block;
  background: #fff;
  color: #a1a1a1;
  padding: 3px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}
#drivers a.driver:hover img {
  background: #1794f4;
}
#drivers a.driver:hover span.driver-name {
  background: #202024;
  color: #fff;
}
#driver {
  *zoom: 1;
}
#driver:before,
#driver:after {
  display: table;
  content: "";
}
#driver:after {
  clear: both;
}
#driver-info {
  width: 230x;
  float: left;
}
#driver-info img {
  display: block;
  margin-bottom: width: 100px;
  height: auto;
  background: #fff;
  padding: 20px;
  margin-bottom: 12px;
  float: right;
}
#driver-info a {
  display: block;
  clear: both;
  margin-bottom: 12px;
  text-align: center;
  padding: 15px 20px;
  font-size: 13px;
  font-family: "GeogrotesqueRegular", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  background: #202024;
  color: #d9eced;
}
#driver-info a:hover {
  background: #1794f4;
  color: #FFF;
}
#driver-info a.back-to-drivers {
  background: #d9eced;
  color: #202024;
}
#driver-info a.back-to-drivers:hover {
  background: #1794f4;
  color: #FFF;
}
#history {
  position: relative;
  border-top: 20px solid #f1f1f1;
  width: 720px;
  float: right;
  padding-top: 60px;
}
#history .timeline {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: 365px;
  right: 365px;
  z-index: -1;
  background: #f1f1f1;
}
#history .event {
  *zoom: 1;
  margin-bottom: 50px;
  padding: 30px;
  background: #fff;
  border-left: 5px solid #1794f4;
}
#history .event:before,
#history .event:after {
  display: table;
  content: "";
}
#history .event:after {
  clear: both;
}
#history .event img {
  display: block;
  float: left;
  width: 85px;
  height: auto;
  margin-right: 30px;
}
#history .event span {
  display: block;
  text-transform: uppercase;
}
#history .event span.title {
  font-size: 28px;
  color: #202024;
  font-family: "GeogrotesqueThin", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
}
#history .event span.artist {
  font-size: 20px;
  color: #1794f4;
  margin-bottom: 8px;
}
#history .event span.date {
  font-size: 12px;
  color: #838383;
}
